@model WASP_Web_App.Entities.Rent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.User_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Auth.Login)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auth.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key_ID)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Key_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Keys.Room)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keys.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Rent_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
