@model IEnumerable<WASP_Web_App.Entities.Rent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auth.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keys.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auth.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keys.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rent_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rent_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rent_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
